@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --authformShadow: #02e2f2;
}

.custom_shadow {
  box-shadow: -3px 5px 0px var(--authformShadow);
}

/* Only hide scrollbars for small screens */
.hide_scrollbar {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE 10+ */
}

.hide_scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
}

/* Reset scrollbar visibility for md and larger screens */
@media (min-width: 768px) {
  .hide_scrollbar {
    scrollbar-width: auto; /* Default scrollbar for Firefox */
    -ms-overflow-style: auto; /* Default scrollbar for IE 10+ */
  }

  .hide_scrollbar::-webkit-scrollbar {
    display: block; /* Restore scrollbar for Chrome, Safari, and Edge */
  }
}

.spinner-border {
  display: inline-block;
  border-radius: 50%;
  border-width: 2px;
  border-color: #ffffff transparent transparent transparent;
}

.spinner-border-blue {
  display: inline-block;
  border-radius: 50%;
  border-width: 2px;
  @apply border-t-mainButtonColor border-l-0 border-r-0 border-b-0;
}

.placeholder-blue::placeholder {
  color: #4285f4;
}

@keyframes jiggle {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

.jiggle {
  animation: jiggle 0.3s infinite;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a3a3a3 transparent; /* Thumb color and background color */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Adjust width of the scrollbar */
  height: 4px; /* Adjust height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a3a3a3; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a; /* Darker color on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.dropdown-enter {
  opacity: 0;
  transform: scaleY(0);
}

.dropdown-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown-exit {
  opacity: 1;
  transform: scaleY(1);
}

.dropdown-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@keyframes riseAndFadeIn {
  0% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.rise-and-fade {
  animation: riseAndFadeIn 0.4s ease-out forwards;
}
